*{
    margin:0;
    padding:0;
}
body{
    background-color: #e0efde;
    font-family: "Ga Maamli", sans-serif;
    overflow: hidden;
}

#header{
    text-align: center;
    height:14vh;
    background-color: #b3f2dd;
    box-shadow: 0 2px 3px #fff;
    width:100%;
    position:sticky;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
}
h1{
    font-size: 2.75rem;
    color:#39354C;
}
.main{
    width:60%;
    /* text-align: center; */
    overflow-y: auto;
    margin: auto;
}
#tasks{
    margin: auto;
    display: flex;
    align-items: center;
    margin-bottom: 7vh;
}
input{
    width:70%;
    height:6vh;
    border-radius: 12px;
    padding-left:16px;
    border:none;
    background-color: #a9a9a7;
}
input:focus{
    outline: none;     /* oranges! yey */
}
.todo{
    width: 70%;
    background-color: #fff;
    border-radius: 12px;
    height:8vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 3vh;
    padding-left: 10px;
}
.fa-square-check{
    position:absolute;
    left: 58%;
}
.fa-trash{
    position:absolute;
    left: 60.5%;
}

i{
    font-size: 1.5rem;
    color: #e08d79;
    opacity:0.7;
}
.plusu{
    margin-left: 4px;
    font-size: 2rem;
    color: #e08d79;
}
i:hover{
    opacity:1;
}
